body {
    margin: 0;
    padding: 0;
    background: rgb(78, 226, 231);
  }
  .timer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }
  .value {
    color: #fff;
    font-size: 5rem;
  }
  .label {
    font-size: 2.5rem;
    padding-left: 0.25rem;
    color: rgba(86, 86, 88, 0.719);
  }
  .field {
      display: flex;
      flex-direction: column;
      align-items: center;
    padding: 30px;
  }
 